<h1>Hello ui router</h1>

<!--<a href="#/"><img class="logo" src="assets/img/eggly-logo.png"></a>-->
<!--<ul class="nav nav-sidebar">-->
    <!--<li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">-->
      <!--<a ui-sref="eggly.categories.bookmarks({category: category.name})">-->
        <!--{{category.name}}-->
      <!--</a></li>-->
<!--</ul>-->



<!--<div class="row">-->
  <!--<div class="col-sm-3 col-md-2 sidebar">-->
    <!--<a href="#" ng-click="setCurrentCategory(emptyName)"><img class="logo" src="assets/img/eggly-logo.png"></a>-->
    <!--<ul class="nav nav-sidebar">-->

      <!--&lt;!&ndash;add active class if function returns true&ndash;&gt;-->
      <!--<li ng-repeat="category in categories" ng-class="{'active': isCurrentCategory(category)}">-->
        <!--<a href="#" ng-click="setCurrentCategory(category); cancelCategory();">{{category.name}}</a>-->
      <!--</li>-->

    <!--</ul>-->
  <!--</div>-->

  <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->





    <!--&lt;!&ndash;Filter on the category property where it matches current cat&ndash;&gt;-->
    <!--<div ng-class="{'active': isSelectedBookmark(bookmark.id)}"-->
         <!--ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">-->
      <!--<button type="button" ng-click="deleteBookmark(bookmark)" class="close">&times;</button>-->
      <!--&lt;!&ndash;Example of passing multiple functions&ndash;&gt;-->
      <!--<button type="button" ng-click="setEditedBookmark(bookmark); startEditing();"-->
              <!--class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>-->
      <!--<a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>-->
    <!--</div>-->
    <!--<hr/>-->







    <!--&lt;!&ndash;CREATING&ndash;&gt;-->
    <!--&lt;!&ndash;USE NG-if to determin true or false - and then display content inside this div if true&ndash;&gt;-->
    <!--<div ng-if="shouldShowCreating()">-->
      <!--<button type="button" class="btn btn-link" ng-click="startCreating()">-->
        <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--Create Bookmark-->
      <!--</button>-->

      <!--&lt;!&ndash;WHen submitting we are adding to the bookmark object a title and a url&ndash;&gt;-->
      <!--<form class="create-form" ng-show="isCreating" role="form" ng-submit="createBookmark(newBookmark)" novalidate>-->
        <!--<div class="form-group">-->
          <!--<label for="newBookmarkTitle">Bookmark Title</label>-->
          <!--&lt;!&ndash;ng-model keeps track of bookmark title via 2 way data binding here&ndash;&gt;-->
          <!--<input type="text" class="form-control" id="newBookmarkTitle" ng-model="newBookmark.title" placeholder="Enter title">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="newBookmarkURL">Bookmark URL</label>-->
          <!--<input type="text" class="form-control" id="newBookmarkURL" ng-model="newBookmark.url" placeholder="Enter URL">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-info btn-lg">Create</button>-->
        <!--<button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCreating()">Cancel</button>-->
      <!--</form>-->
      <!--<hr/>-->
    <!--</div>-->


    <!--&lt;!&ndash;EDITING&ndash;&gt;-->
    <!--&lt;!&ndash;Switched from ng-if to ng-show&ndash;&gt;-->
    <!--<div ng-show="shouldShowEditing()">-->
      <!--<h4>Editing {{editedBookmark.title}}</h4>-->

      <!--&lt;!&ndash;When you passin bookmark to setEditbookmark function it makes the global scope for editedBookmark have data -&ndash;&gt;-->
      <!--&lt;!&ndash;the ngmodel using 2way data binding automatically populates.&ndash;&gt;-->
      <!--<form class="edit-form" role="form" ng-submit="updateBookmark(editedBookmark)" novalidate>-->
        <!--<div class="form-group">-->
          <!--<label>Bookmark Title</label>-->
          <!--<input type="text" class="form-control" ng-model="editedBookmark.title" placeholder="Enter title">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label>Bookmark URL</label>-->
          <!--<input type="text" class="form-control" ng-model="editedBookmark.url" placeholder="Enter URL">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-info btn-lg">Save</button>-->
        <!--<button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelEditing()">Cancel</button>-->
      <!--</form>-->
      <!--<hr/>-->
    <!--</div>-->

    <!--<div>-->

      <!--<button type="button" ng-click="createCategory()" class="btn btn-link btn-sm">-->
        <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--Create Category-->
      <!--</button>-->

    <!--</div>-->

    <!--&lt;!&ndash;CREATE CATEGORY&ndash;&gt;-->
    <!--<div ng-show="shouldShowCategory()">-->

      <!--&lt;!&ndash;WHen submitting we are adding to the bookmark object a title and a url&ndash;&gt;-->
      <!--<form class="create-form" role="form" ng-submit="createNewCat(newCategory)" novalidate>-->
        <!--<div class="form-group">-->
          <!--<label for="newCategoryName">Category Name</label>-->
          <!--&lt;!&ndash;ng-model keeps track of bookmark title via 2 way data binding here&ndash;&gt;-->
          <!--<input type="text" class="form-control" id="newCategoryName" ng-model="newCategory.name" placeholder="Enter title">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-info btn-lg">Create</button>-->
        <!--<button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCategory()">Cancel</button>-->
      <!--</form>-->

    <!--</div>-->
    <!--<hr/>-->


  <!--</div>-->
<!--</div>-->
