<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular JS tutorial</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>


  <!--<div ng-app="choreApp">-->
    <!--<div ng-controller="ChoreCtrl as choreCtrl">-->
      <!--<kid done="choreCtrl.logChore(taskB)"></kid>-->
      <!--<kid done="choreCtrl.logChore(taskB)"></kid>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div ng-app="drinkApp">-->
    <!--<div ng-controller="AppCtrl as appctrl">-->
      <!--<input type="text" ng-model="appctrl.ctrlFlavor">-->
      <!--&lt;!&ndash;This gets evauluated as a string &ndash;&gt;-->
      <!--&lt;!&ndash;and is bound to the ng-mdoel&ndash;&gt;-->
      <!--<div drink flavor="{{appctrl.ctrlFlavor}}"></div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div ng-app="drinkApp">-->
    <!--<div ng-controller="AppCtrl as appctrl">-->
      <!--Ctrl-->
      <!--<input type="text" ng-model="appctrl.ctrlFlavor">-->
      <!--<br>-->

      <!--Dir-->
      <!--&lt;!&ndash;we dont use the {{}} because we aren't passing a string&ndash;&gt;-->
      <!--<div drink flavor="appctrl.ctrlFlavor"></div>-->
    <!--</div>-->
  <!--</div>-->

  <div ng-app="phoneApp">
    <div ng-controller="AppCtrl as appctrl">
      <div phone dial="appctrl.callHome(message)"></div>
      <div phone dial="appctrl.callHome(message)"></div>
      <div phone dial="appctrl.callHome(message)"></div>
    </div>
  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>-->

  <!--<script src="js/main.js"></script>-->

  <script src="app.js"></script>
  <script src="filters_bindings.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
